.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
  
  .formContainer {
    margin-top: 20px;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .disabledButton {
    opacity: 0.5;
  }
  
  .buttonText {
    font-weight: bold;
    color: red;
  }
  
  .buttonIcon {
    margin-left: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .signUpButton {
    margin-top: 10px;
  }
  
  .signUpButtonText {
    text-align: center;
    text-decoration-line: underline;
  }

  h5{
    color : white !important;
  }
  