.container {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 130px;
    height: 110px;
    padding: 20px;
  }
  
  .formContainer {
    margin-top: 80px;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .confirmPasswordContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .confirmPasswordIcon {
    font-size: 20px;
    margin-left: 5px;
    color: green;
    font-weight: bold;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .disabledButton {
    opacity: 0.5;
  }
  
  .buttonText {
    font-weight: bold;
    color: red;
  }
  
  .buttonIcon {
    margin-left: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  .signInButton {
    margin-top: 10px;
  }
  
  .signInButtonText {
    text-align: center;
    text-decoration-line: underline;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 10px;
  }
  